@tailwind base;
@tailwind components;
@tailwind utilities;

/* GLOBAL APP BACKGROUND */
body {
  margin: 0;
  font-family: system-ui, sans-serif;
  min-height: 100vh;

  background: radial-gradient(
    circle at top,
    #f4e8ff 0%,
    #e9d5ff 35%,
    #fbcfe8 70%,
    #ddd6fe 100%
  );
  background-attachment: fixed;
}

/* ROOT FIX */
#root {
  min-height: 100vh;
}

/* SMOOTH TOUCH UI */
* {
  -webkit-tap-highlight-color: transparent;
}
